# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude .terraform directory
.terraform/

# Exclude Terraform lock file
.terraform.lock.hcl

# Exclude backup files
*.backup

# Python bytecode files
*.pyc
__pycache__/

# Zip files
*.zip

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
